<!DOCTYPE html>
<html lang="en">
{{>header.html}}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="index.php">Home</a>
    </nav>
    <div class="container ">
        <h1 class="text-center bg-warning">Каталоr автомобилей Модель {{car_model}}  </h1>
        <div class="container">
            <table class="table table-bordered table-hover">
                {{#each models}}
                <div class="row">
                    <tr class="d-flex">
                        <td class="col-lg"><a href = "car_details.php?model_id={{car_id}}"> {{car_name}}</a></td>
                    </tr>
                </div>
                {{/each}}
            </table>
        </div>
    </div>
</body>