<!DOCTYPE html>
<html lang="en">
{{>header.html}}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="index.php">Home</a>
    </nav>
    <div class="container">
        <h1 class="text-center bg-warning">{{title}}    Добавить фото в галерею</h1>


        
        <form action="add_gallery.php" method="POST" enctype ="multipart/form-data">
        <div class="mb-3">
            <label for="image" class="form-label">Photo</label>
             <input type="file" name = "image" id ="image">
         </div>

         <div class="mb-3">
            <label for="car_id" class="d-none form-label">Id</label>
           <input type="text" class="form-control" id="car_id" name="car_id" value = "{{car_id}}" >
         </div>


         <button type="submit" class="btn btn-primary" > Добавить</button>
        </form>
    </div>
</body>
</html>
