{% extends "main.html" %}

{% block body %}
            <h2 class="text-center bg-warning"> {{car_model}}</h2> 
            <div class="m-4">

                <table class="table table-bordered table-hover">
                    {% for model in models%}
                    <div class="row">
                        <tr class="d-flex">
                            <td class="col-lg"><a href = "car_details.php?car_id={{model.car_id}}"> {{model.car_name}}</a></td>
                        </tr>
                    </div>
                    {% endfor %}
                </table>
            
            </div>
        {% endblock %}