{% extends "main.html" %}

{% block body %}
            <h2 class="text-center bg-warning">{{brand}}</h2> 
            <div class="m-4">
            </div>
        </div>

        <div class="container">
            <table class="table table-bordered table-hover">
                {% for model in models %} 
                <div class="row">
                    <tr class="d-flex">
                        <td class="col-lg"><a href = "cars.php?model_id={{model.car_model_id}}"> {{model.car_model_name}}</a></td>
                    </tr>
                </div>
                {% endfor %}
            </table>
        {% endblock %}