<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    
    <body>
        {% include "navbar.html" %}
        <div class="container">
            <h1>{{ title}}</h1> 
            <div class="m-4">

                 
                <div class="container">
                    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-">
                        {% for brand in brands %}   
                        <div class="col">  
                            <div class="p-3 border bg-light">
                                <a href="car_models.php?brand_id={{ brand.car_brand_id }}" role="button">{{ brand.car_brand_name }}
                                    <img src="/images/{{brand.brand_photo}}"class="img-fluid">
                                </a>
                            </div>    
                        </div>
                        {% endfor %}
                    </div>
                </div>



            </div>

        </div>
    </body>
</html>